asteval==0.9.32
beautifulsoup4==4.12.3
boto3==1.34.79
botocore==1.34.79
certifi==2024.2.2
cffi==1.16.0
cftime==1.6.3
chardet==5.1.0
charset-normalizer==3.3.2
clr-loader==0.2.6
comtypes==1.1.14
contourpy==1.2.1
CoreMS @ file:///Users/heal742/LOCAL/corems_dev/corems
cycler==0.12.1
Cython==3.0.10
Deprecated==1.2.14
et-xmlfile==1.1.0
fonttools==4.51.0
future==1.0.0
h5py==3.8.0
hopcroftkarp==1.2.5
idna==3.6
IsoSpecPy==2.0.2
jmespath==1.0.1
joblib==1.3.2
kiwisolver==1.4.5
lmfit==1.1.0
lxml==4.9.4
matplotlib==3.7.5
ms-entropy==1.1.2
netCDF4==1.6.5
numpy==1.24.4
openpyxl==3.1.2
packaging==24.0
pandas==1.5.3
persim==0.3.5
pillow==10.3.0
psutil==5.9.8
pycparser==2.22
pymzml==2.5.6
pyparsing==3.1.2
pyswarm==0.6
python-dateutil==2.9.0.post0
pythonnet==3.0.3
pytz==2024.1
regex==2023.12.25
requests==2.31.0
ripser==0.6.4
s3path==0.4.2
s3transfer==0.10.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
smart-open==7.0.4
soupsieve==2.5
SQLAlchemy==1.4.52
threadpoolctl==3.4.0
toml==0.10.2
tqdm==4.64.1
uncertainties==3.1.7
urllib3==2.2.1
wrapt==1.16.0
